<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.arango.metodos" >
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Ec_LinealesActivity"
            android:label="@string/lblLineales" >
        </activity>
        <activity
            android:name=".ResultActivity"
            android:label="@string/app_result"
            android:theme="@style/ResultTheme"
            >
        </activity>
        <activity
            android:name=".NoLinealesActivity"
            android:label="@string/lblNoLineales"
            android:theme="@style/AppTheme"
            >
        </activity>
        <activity
            android:name=".InterpolacionActivity"
            android:label="@string/lblInterpolacion"
            android:theme="@style/AppTheme"
            >
        </activity>
        <activity
            android:name=".IntegracionActivity"
            android:label="@string/lblIntegracion"
            android:theme="@style/AppTheme"
            >
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            </activity>
    </application>
</manifest>
